:root {
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;
    
    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;
    
    
    --ff-primary:  'Lato', sans-serif;
    --ff-accent:   'Playfair Display', serif;
    
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
        font-family: var(--ff-primary);
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6;
    }
    
    .text-center {
        text-align: center;
    }
    
    .container {
    margin-inline: auto;
    width: min(90%, 70rem)
    }
    
    .container--narrow {
        max-width: 34rem;
    }
    
    
    h2,
    h3,
    p {
        margin-bottom: 1em;
    }
    
    header,
    section {
        padding: 3rem 0;
    }
    
    @media(min-width:40em) {
        header,
        section {
            padding: 3rem 0;
        } 
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    
    
    .bg-light {
        background-color: var(--clr-primary-200);
    }
    
    .bg-primary {
        color: var(--clr-neutral-100);
        background-color: var(--clr-primary-400);
     }
    
    .bg-dark {
        color: var(--clr-neutral-100);
        background-color: var(--clr-neutral-900);
     }
    
     .bg-primary h2
     .bg-dark h2{
         color: var(--clr-primary-200); 
     }
    
    
     .split {
         display: flex;
         flex-direction: column;
     }
    
     @media(min-width: 40em) {
         .split {
             flex-direction: row;
         }
         
     
         .split > * + * {
             margin-left: 2em;
         }
    
     }
    
    
    
    h1,
    h2,
    h3 {
        color: var(--clr-primary-400);
        font-family: var(--ff-accent);
        font-weight: 900;
        line-height: 1 ;
    }
    
    
    
    
    